<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="UsrInfo">

    <resultMap id="usrInfoResult" type="com.demo.domain.UsrInfo">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="password" column="PASSWORD"/>
    </resultMap>

    <select id="findAll" resultMap="usrInfoResult">
        SELECT ID, NAME, PASSWORD FROM USR_INFO
    </select>

</mapper>